*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* set default root font size to 0.625*16=10px so it's easier to calculate rem unit */
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
